<div class="wrap">
    <h1>Promo video editor</h1>
    <br><br>
    <button class="button-primary"
            onclick="(function() {window.open('{{ login_url }}');window.location='{{ settings_url }}';})()">LOGIN
    </button>
</div>
